@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Retos </h1>
    <p>
        Este es un pequeño sitio en el cual estare dando solucion a problemas que encuentre para probar nuestras habilidades tanto tecnicas como logicas, tratare de explicarlos segun mi comprension, espero me ayuden con su retroalimentacion y si tienen otros retos, estare feliz de poder tratar de solucionarlos.
    </p>
</div>
